/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/

#computer {
    position: absolute;
    top: 250px;
    left: 300px;
}

.text {
    position: absolute;
    top: 200px;
    left: 733px;
}

#computer2 {
    position: absolute;
    top: 600px;
    left: 300px;
}

.text2 {
    position: absolute;
    top: 550px;
    left: 733px;
}

#computer3 {
    position: absolute;
    top: 950px;
    left: 300px;
}

.text3 {
    position: absolute;
    top: 900px;
    left: 733px;
}

footer#techsupport {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 1279px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/


